div{
	padding-bottom: 40px;*/
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	width: 150px;
	/*margin: 10px;*/
}
#lab ,#cambio{
	background-color: yellow;
	
}
#es{
	background-color: pink;
}
